In [150]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [151]:
df1 = pd.read_csv('Dataset/AGROCLIMATOLOGY_PART2.csv')
df2 = pd.read_csv('Dataset/AGROCLIMATOLOGY.csv')
df3 = pd.read_csv('Dataset/RH2M_QV2M_PRECIPITATION.csv', on_bad_lines='skip')
df4 = pd.read_csv('Dataset/SOLAR_FLUX_INDEX_UV.csv')
df5 = pd.read_csv('Dataset/TEMPERATURE.csv')
df6 = pd.read_csv('Dataset/WIND_PRESSURE.csv')
df7 = pd.read_csv('Dataset/rainfall_nrsc.csv')
df8 = pd.read_csv('Dataset/rainfall.csv')

In [152]:
df2.head()

,YEAR,DOY,T2M,T2MDEW,TS,T2MWET,T2M_RANGE,T2M_MAX,T2M_MIN,ALLSKY_SFC_LW_DWN,ALLSKY_SFC_SW_DWN,CLRSKY_SFC_SW_DWN,TOA_SW_DWN,ALLSKY_SFC_PAR_TOT,CLRSKY_SFC_PAR_TOT,ALLSKY_SFC_UVA,ALLSKY_SFC_UVB,ALLSKY_SFC_UV_INDEX
0,2017,1,12.72,7.10,10.40,9.90,8.12,17.43,9.30,257.59,9.88,15.43,21.42,48.05,73.94,6.59,0.14,0.73
1,2017,2,12.98,5.88,10.38,9.44,9.30,18.56,9.26,239.04,9.80,15.85,21.48,48.26,76.31,6.75,0.16,0.79
2,2017,3,13.09,5.12,10.82,9.11,9.70,18.99,9.29,251.52,9.84,15.87,21.53,49.37,77.62,6.88,0.15,0.75
3,2017,4,12.55,5.02,11.01,8.79,9.14,18.11,8.96,243.37,12.45,16.34,21.60,60.57,79.22,8.19,0.18,0.94
4,2017,5,11.63,4.26,9.12,7.95,9.15,17.30,8.15,262.41,9.68,14.77,21.67,46.87,69.41,6.48,0.16,0.80

In [153]:
df1.head(), df2.head(), df3.head(), df4.head(), df5.head(), df6.head(), df7.head(), df8.head()

(   YEAR  DOY  QV2M   RH2M  PRECTOTCORR     PS  WS2M  WS2M_MAX  WS2M_MIN  \
 0  2017    1  7.32  70.56         0.00  88.53  0.75      1.08      0.26
 1  2017    2  6.77  64.81         0.02  88.53  0.83      1.15      0.28
 2  2017    3  6.53  61.88         0.68  88.43  0.88      1.19      0.34
 3  2017    4  6.29  62.69         0.01  88.30  0.83      1.12      0.38
 4  2017    5  5.98  62.62         0.49  88.25  0.79      0.99      0.30

    WS2M_RANGE    WD2M  WS10M  WS10M_MAX  WS10M_MIN  WS10M_RANGE   WD10M  \
 0        0.82   84.50   1.58       2.28       0.48         1.79   86.19
 1        0.87   90.44   1.70       2.36       0.40         1.96   92.19
 2        0.86  128.62   1.89       3.02       0.76         2.26  130.00
 3        0.73  115.44   1.91       2.88       0.63         2.24  113.81
 4        0.69  109.94   1.73       2.65       0.68         1.97  127.81

    GWETPROF  GWETROOT  GWETTOP
 0      0.57      0.59     0.60
 1      0.57      0.59     0.59
 2      0.57      0.59     0.59
 3      0.57      0.59     0.59
 4      0.56      0.59     0.59  ,
    YEAR  DOY    T2M  T2MDEW     TS  T2MWET  T2M_RANGE  T2M_MAX  T2M_MIN  \
 0  2017    1  12.72    7.10  10.40    9.90       8.12    17.43     9.30
 1  2017    2  12.98    5.88  10.38    9.44       9.30    18.56     9.26
 2  2017    3  13.09    5.12  10.82    9.11       9.70    18.99     9.29
 3  2017    4  12.55    5.02  11.01    8.79       9.14    18.11     8.96
 4  2017    5  11.63    4.26   9.12    7.95       9.15    17.30     8.15

    ALLSKY_SFC_LW_DWN  ALLSKY_SFC_SW_DWN  CLRSKY_SFC_SW_DWN  TOA_SW_DWN  \
 0             257.59               9.88              15.43       21.42
 1             239.04               9.80              15.85       21.48
 2             251.52               9.84              15.87       21.53
 3             243.37              12.45              16.34       21.60
 4             262.41               9.68              14.77       21.67

    ALLSKY_SFC_PAR_TOT  CLRSKY_SFC_PAR_TOT  ALLSKY_SFC_UVA  ALLSKY_SFC_UVB  \
 0               48.05               73.94            6.59            0.14
 1               48.26               76.31            6.75            0.16
 2               49.37               77.62            6.88            0.15
 3               60.57               79.22            8.19            0.18
 4               46.87               69.41            6.48            0.16

    ALLSKY_SFC_UV_INDEX
 0                 0.73
 1                 0.79
 2                 0.75
 3                 0.94
 4                 0.80  ,
    YEAR  MO  DY  QV2M   RH2M  PRECTOTCORR
 0  2017   1   1  7.32  70.56         0.00
 1  2017   1   2  6.77  64.81         0.02
 2  2017   1   3  6.53  61.88         0.68
 3  2017   1   4  6.29  62.69         0.01
 4  2017   1   5  5.98  62.62         0.49,
    YEAR  MO  DY  ALLSKY_SFC_SW_DWN  CLRSKY_SFC_SW_DWN  ALLSKY_KT  \
 0  2017   1   1               2.74               4.29       0.46
 1  2017   1   2               2.72               4.40       0.45
 2  2017   1   3               2.73               4.41       0.46
 3  2017   1   4               3.46               4.54       0.58
 4  2017   1   5               2.69               4.10       0.45

    ALLSKY_SFC_LW_DWN  ALLSKY_SFC_PAR_TOT  CLRSKY_SFC_PAR_TOT  \
 0             257.59               48.05               73.94
 1             239.04               48.26               76.31
 2             251.52               49.37               77.62
 3             243.37               60.57               79.22
 4             262.41               46.87               69.41

    ALLSKY_SFC_UV_INDEX  ALLSKY_SFC_UVB  ALLSKY_SFC_UVA
 0                 0.73            0.14            6.59
 1                 0.79            0.16            6.75
 2                 0.75            0.15            6.88
 3                 0.94            0.18            8.19
 4                 0.80            0.16            6.48  ,
    YEAR  MO  DY    T2M  T2MDEW  T2MWET     TS  T2M_RANGE  T2M_MAX  T2M_MIN
 0  2017   1   1  12.72    7.10    9.90  10.40       8.12    17.43     9.30
 1  2017   1   2  12.98    5.88    9.44  10.38       9.30    18.56     9.26
 2  2017   1   3  13.09    5.12    9.11  10.82       9.70    18.99     9.29
 3  2017   1   4  12.55    5.02    8.79  11.01       9.14    18.11     8.96
 4  2017   1   5  11.63    4.26    7.95   9.12       9.15    17.30     8.15,
    YEAR  MO  DY     PS  WS10M  WS10M_MAX  WS10M_MIN  WS10M_RANGE   WD10M  \
 0  2017   1   1  88.53   1.58       2.28       0.48         1.79   86.19
 1  2017   1   2  88.53   1.70       2.36       0.40         1.96   92.19
 2  2017   1   3  88.43   1.89       3.02       0.76         2.26  130.00
 3  2017   1   4  88.30   1.91       2.88       0.63         2.24  113.81
 4  2017   1   5  88.25   1.73       2.65       0.68         1.97  127.81

    WS50M  WS50M_MAX  WS50M_MIN  WS50M_RANGE   WD50M
 0   2.07       3.23       0.64         2.59   86.56
 1   2.19       3.54       0.48         3.05   91.50
 2   2.52       3.35       1.05         2.30  130.50
 3   2.66       3.65       0.94         2.72  114.50
 4   2.33       3.05       1.02         2.04  128.62  ,
     Dates  NORMAL (mm)   ACTUAL (mm)
 0  Jun-18         507.5        190.66
 1  Jul-18         766.3        183.49
 2  Aug-18         555.5        271.09
 3  Sep-18         424.2        179.04
 4  Oct-18         125.3          9.75,
     Dates  NORMAL (mm)   ACTUAL (mm)
 0  Jan-17          16.9          4.35
 1  Feb-17          14.0          9.13
 2  Mar-17          39.7         86.24
 3  Apr-17          82.4        154.68
 4  May-17         188.2        297.26)

In [154]:
print("df1: ",df1.columns)
print("df2: ",df2.columns)
print("df3: ",df3.columns)
print("df4: ",df4.columns)
print("df5: ",df5.columns)
print("df6: ",df6.columns)
print("df7: ",df7.columns)
print("df8: ",df8.columns)

df1:  Index(['YEAR', 'DOY', 'QV2M', 'RH2M', 'PRECTOTCORR', 'PS', 'WS2M', 'WS2M_MAX',
       'WS2M_MIN', 'WS2M_RANGE', 'WD2M', 'WS10M', 'WS10M_MAX', 'WS10M_MIN',
       'WS10M_RANGE', 'WD10M', 'GWETPROF', 'GWETROOT', 'GWETTOP'],
      dtype='object')
df2:  Index(['YEAR', 'DOY', 'T2M', 'T2MDEW', 'TS', 'T2MWET', 'T2M_RANGE', 'T2M_MAX',
       'T2M_MIN', 'ALLSKY_SFC_LW_DWN', 'ALLSKY_SFC_SW_DWN',
       'CLRSKY_SFC_SW_DWN', 'TOA_SW_DWN', 'ALLSKY_SFC_PAR_TOT',
       'CLRSKY_SFC_PAR_TOT', 'ALLSKY_SFC_UVA', 'ALLSKY_SFC_UVB',
       'ALLSKY_SFC_UV_INDEX'],
      dtype='object')
df3:  Index(['YEAR', 'MO', 'DY', 'QV2M', 'RH2M', 'PRECTOTCORR'], dtype='object')
df4:  Index(['YEAR', 'MO', 'DY', 'ALLSKY_SFC_SW_DWN', 'CLRSKY_SFC_SW_DWN',
       'ALLSKY_KT', 'ALLSKY_SFC_LW_DWN', 'ALLSKY_SFC_PAR_TOT',
       'CLRSKY_SFC_PAR_TOT', 'ALLSKY_SFC_UV_INDEX', 'ALLSKY_SFC_UVB',
       'ALLSKY_SFC_UVA'],
      dtype='object')
df5:  Index(['YEAR', 'MO', 'DY', 'T2M', 'T2MDEW', 'T2MWET', 'TS', 'T2M_RANGE',
       'T2M_MAX', 'T2M_MIN'],
      dtype='object')
df6:  Index(['YEAR', 'MO', 'DY', 'PS', 'WS10M', 'WS10M_MAX', 'WS10M_MIN',
       'WS10M_RANGE', 'WD10M', 'WS50M', 'WS50M_MAX', 'WS50M_MIN',
       'WS50M_RANGE', 'WD50M'],
      dtype='object')
df7:  Index(['Dates', 'NORMAL (mm) ', 'ACTUAL (mm) '], dtype='object')
df8:  Index(['Dates', 'NORMAL (mm) ', 'ACTUAL (mm) '], dtype='object')

In [155]:
for df in [df1, df2, df3, df4, df5, df6, df7, df8]:
    df.columns = df.columns.str.strip()

In [156]:
common_cols = list(set(df7.columns).intersection(set(df8.columns)))
merged_rainfall_df = pd.merge(df7, df8, on=common_cols, how='inner')

In [157]:
for i, df in enumerate([df1, df2, df3, df4, df5, df6], start=1):
    print(f"df{i} unique YEARs:", df['YEAR'].nunique(), " | total rows:", len(df))

df1 unique YEARs: 7  | total rows: 2545
df2 unique YEARs: 7  | total rows: 2545
df3 unique YEARs: 7  | total rows: 2545
df4 unique YEARs: 7  | total rows: 2545
df5 unique YEARs: 7  | total rows: 2545
df6 unique YEARs: 7  | total rows: 2545

In [158]:
for i in range(len(df_year_merge)):
    df_year_merge[i] = df_year_merge[i].groupby('YEAR').mean(numeric_only=True).reset_index()

In [159]:
for i in range(len(df_year_merge)):
    df_year_merge[i] = df_year_merge[i].drop(columns=[col for col in df_year_merge[i].columns if col in ['MO', 'DY']], errors='ignore')

In [160]:
from functools import reduce
merged_year_df = reduce(lambda left, right: pd.merge(left, right, on='YEAR', how='inner'), df_year_merge)

In [161]:
if 'YEAR' in merged_rainfall_df.columns:
    final_df = pd.merge(merged_year_df, merged_rainfall_df, on='Year', how='inner')
else:
    final_df = merged_year_df

In [162]:
merged_year_df.head()

,YEAR,DOY_x,QV2M_x,RH2M_x,PRECTOTCORR_x,PS_x,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE,...,WS10M_y,WS10M_MAX_y,WS10M_MIN_y,WS10M_RANGE_y,WD10M_y,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,WD50M
0,2017,183.0,12.126438,72.799370,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,1.946027,3.657014,0.547726,3.109726,156.066740,2.547068,4.161836,0.847616,3.313890,158.435534
1,2018,183.0,11.667836,72.179123,5.841096,87.984000,0.863945,1.582274,0.233178,1.349425,...,1.902658,3.599315,0.504795,3.094603,151.753507,2.473452,4.028384,0.782274,3.246247,153.094247
2,2019,183.0,11.901945,73.087096,6.358603,88.048767,0.877041,1.592329,0.240411,1.351342,...,1.907260,3.611315,0.519370,3.091836,147.332712,2.477699,4.042055,0.803589,3.238658,149.414384
3,2020,183.5,12.246257,77.143033,9.049727,88.029208,0.872760,1.595683,0.227131,1.368470,...,1.925027,3.608907,0.501448,3.107404,155.524180,2.525956,4.114891,0.810628,3.304317,157.134891
4,2021,183.0,11.960027,74.431288,7.499890,88.001507,0.896027,1.641507,0.258932,1.382110,...,1.951233,3.715397,0.540904,3.174548,154.465589,2.557534,4.236630,0.835836,3.400548,156.386274

In [163]:
rainfall_df = pd.concat([df7, df8], ignore_index=True)

In [164]:
rainfall_df.rename(columns=lambda col: col.strip().upper(), inplace=True)

In [165]:
print(rainfall_df.columns)

Index(['DATES', 'NORMAL (MM)', 'ACTUAL (MM)'], dtype='object')

In [166]:
rainfall_df['YEAR'] = pd.to_datetime(rainfall_df['DATES'], format='%b-%y').dt.year

In [167]:
print(rainfall_df[['DATES', 'YEAR']].head())

    DATES  YEAR
0  Jun-18  2018
1  Jul-18  2018
2  Aug-18  2018
3  Sep-18  2018
4  Oct-18  2018

In [168]:
final_df = pd.merge(merged_year_df, rainfall_df, on='YEAR', how='inner')

In [169]:
final_df.head()

,YEAR,DOY_x,QV2M_x,RH2M_x,PRECTOTCORR_x,PS_x,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE,...,WS10M_RANGE_y,WD10M_y,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,WD50M,DATES,NORMAL (MM),ACTUAL (MM)
0,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,Jan-17,16.9,4.35
1,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,Feb-17,14.0,9.13
2,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,Mar-17,39.7,86.24
3,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,Apr-17,82.4,154.68
4,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,May-17,188.2,297.26

In [170]:
final_df.describe()

,YEAR,DOY_x,QV2M_x,RH2M_x,PRECTOTCORR_x,PS_x,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE,...,WS10M_MIN_y,WS10M_RANGE_y,WD10M_y,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,WD50M,NORMAL (MM),ACTUAL (MM)
count,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,...,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000,121.000000
mean,2019.818182,182.599174,10.252942,72.711277,5.504524,86.061509,-0.919950,-0.193913,-1.555713,-0.434188,...,-1.275854,1.310263,150.880036,0.711616,2.303546,-0.980109,1.487856,152.738330,230.766942,239.467851
std,1.755942,1.631231,5.743441,7.000068,5.296656,6.193865,5.705231,5.714004,5.701684,5.714729,...,5.702009,5.742579,7.275964,5.720312,5.746238,5.703034,5.745544,7.241320,262.143763,278.034308
min,2017.000000,177.500000,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-19.232458,-16.773927,130.195537,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,0.000000,0.000000
25%,2018.000000,183.000000,11.901945,72.799370,5.857589,87.984000,0.863945,1.592329,0.227131,1.351342,...,0.501448,3.091836,147.332712,2.477699,4.042055,0.803589,3.238658,149.414384,14.000000,13.160000
50%,2020.000000,183.000000,11.960027,73.087096,6.358603,88.001507,0.872760,1.595683,0.233178,1.368470,...,0.519370,3.107404,154.465589,2.515918,4.114891,0.810628,3.300000,156.386274,82.400000,131.870000
75%,2021.000000,183.000000,12.246257,77.143033,7.585781,88.029208,0.894658,1.628274,0.251315,1.376521,...,0.540904,3.153562,155.524180,2.547068,4.161836,0.835836,3.313890,157.134891,507.500000,360.900000
max,2023.000000,183.500000,12.711260,80.064767,9.049727,88.048767,0.896027,1.641507,0.258932,1.382110,...,0.547726,3.174548,156.066740,2.557534,4.236630,0.847616,3.400548,158.435534,766.300000,1064.960000

In [171]:
final_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 69 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YEAR                   121 non-null    int64
 1   DOY_x                  121 non-null    float64
 2   QV2M_x                 121 non-null    float64
 3   RH2M_x                 121 non-null    float64
 4   PRECTOTCORR_x          121 non-null    float64
 5   PS_x                   121 non-null    float64
 6   WS2M                   121 non-null    float64
 7   WS2M_MAX               121 non-null    float64
 8   WS2M_MIN               121 non-null    float64
 9   WS2M_RANGE             121 non-null    float64
 10  WD2M                   121 non-null    float64
 11  WS10M_x                121 non-null    float64
 12  WS10M_MAX_x            121 non-null    float64
 13  WS10M_MIN_x            121 non-null    float64
 14  WS10M_RANGE_x          121 non-null    float64
 15  WD10M_x                121 non-null    float64
 16  GWETPROF               121 non-null    float64
 17  GWETROOT               121 non-null    float64
 18  GWETTOP                121 non-null    float64
 19  DOY_y                  121 non-null    float64
 20  T2M_x                  121 non-null    float64
 21  T2MDEW_x               121 non-null    float64
 22  TS_x                   121 non-null    float64
 23  T2MWET_x               121 non-null    float64
 24  T2M_RANGE_x            121 non-null    float64
 25  T2M_MAX_x              121 non-null    float64
 26  T2M_MIN_x              121 non-null    float64
 27  ALLSKY_SFC_LW_DWN_x    121 non-null    float64
 28  ALLSKY_SFC_SW_DWN_x    121 non-null    float64
 29  CLRSKY_SFC_SW_DWN_x    121 non-null    float64
 30  TOA_SW_DWN             121 non-null    float64
 31  ALLSKY_SFC_PAR_TOT_x   121 non-null    float64
 32  CLRSKY_SFC_PAR_TOT_x   121 non-null    float64
 33  ALLSKY_SFC_UVA_x       121 non-null    float64
 34  ALLSKY_SFC_UVB_x       121 non-null    float64
 35  ALLSKY_SFC_UV_INDEX_x  121 non-null    float64
 36  QV2M_y                 121 non-null    float64
 37  RH2M_y                 121 non-null    float64
 38  PRECTOTCORR_y          121 non-null    float64
 39  ALLSKY_SFC_SW_DWN_y    121 non-null    float64
 40  CLRSKY_SFC_SW_DWN_y    121 non-null    float64
 41  ALLSKY_KT              121 non-null    float64
 42  ALLSKY_SFC_LW_DWN_y    121 non-null    float64
 43  ALLSKY_SFC_PAR_TOT_y   121 non-null    float64
 44  CLRSKY_SFC_PAR_TOT_y   121 non-null    float64
 45  ALLSKY_SFC_UV_INDEX_y  121 non-null    float64
 46  ALLSKY_SFC_UVB_y       121 non-null    float64
 47  ALLSKY_SFC_UVA_y       121 non-null    float64
 48  T2M_y                  121 non-null    float64
 49  T2MDEW_y               121 non-null    float64
 50  T2MWET_y               121 non-null    float64
 51  TS_y                   121 non-null    float64
 52  T2M_RANGE_y            121 non-null    float64
 53  T2M_MAX_y              121 non-null    float64
 54  T2M_MIN_y              121 non-null    float64
 55  PS_y                   121 non-null    float64
 56  WS10M_y                121 non-null    float64
 57  WS10M_MAX_y            121 non-null    float64
 58  WS10M_MIN_y            121 non-null    float64
 59  WS10M_RANGE_y          121 non-null    float64
 60  WD10M_y                121 non-null    float64
 61  WS50M                  121 non-null    float64
 62  WS50M_MAX              121 non-null    float64
 63  WS50M_MIN              121 non-null    float64
 64  WS50M_RANGE            121 non-null    float64
 65  WD50M                  121 non-null    float64
 66  DATES                  121 non-null    object
 67  NORMAL (MM)            121 non-null    float64
 68  ACTUAL (MM)            121 non-null    float64
dtypes: float64(67), int64(1), object(1)
memory usage: 65.4+ KB

In [172]:
final_df.isnull().sum()

YEAR             0
DOY_x            0
QV2M_x           0
RH2M_x           0
PRECTOTCORR_x    0
                ..
WS50M_RANGE      0
WD50M            0
DATES            0
NORMAL (MM)      0
ACTUAL (MM)      0
Length: 69, dtype: int64

In [173]:
final_df.duplicated().sum()

np.int64(0)

In [174]:
final_df.dtypes

YEAR               int64
DOY_x            float64
QV2M_x           float64
RH2M_x           float64
PRECTOTCORR_x    float64
                  ...
WS50M_RANGE      float64
WD50M            float64
DATES             object
NORMAL (MM)      float64
ACTUAL (MM)      float64
Length: 69, dtype: object

In [175]:
final_df.head()

,YEAR,DOY_x,QV2M_x,RH2M_x,PRECTOTCORR_x,PS_x,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE,...,WS10M_RANGE_y,WD10M_y,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,WD50M,DATES,NORMAL (MM),ACTUAL (MM)
0,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,Jan-17,16.9,4.35
1,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,Feb-17,14.0,9.13
2,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,Mar-17,39.7,86.24
3,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,Apr-17,82.4,154.68
4,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,May-17,188.2,297.26

In [176]:
print("All column names:")
print(final_df.columns.tolist())

print(f"\nDataframe shape: {final_df.shape}")

All column names:
['YEAR', 'DOY_x', 'QV2M_x', 'RH2M_x', 'PRECTOTCORR_x', 'PS_x', 'WS2M', 'WS2M_MAX', 'WS2M_MIN', 'WS2M_RANGE', 'WD2M', 'WS10M_x', 'WS10M_MAX_x', 'WS10M_MIN_x', 'WS10M_RANGE_x', 'WD10M_x', 'GWETPROF', 'GWETROOT', 'GWETTOP', 'DOY_y', 'T2M_x', 'T2MDEW_x', 'TS_x', 'T2MWET_x', 'T2M_RANGE_x', 'T2M_MAX_x', 'T2M_MIN_x', 'ALLSKY_SFC_LW_DWN_x', 'ALLSKY_SFC_SW_DWN_x', 'CLRSKY_SFC_SW_DWN_x', 'TOA_SW_DWN', 'ALLSKY_SFC_PAR_TOT_x', 'CLRSKY_SFC_PAR_TOT_x', 'ALLSKY_SFC_UVA_x', 'ALLSKY_SFC_UVB_x', 'ALLSKY_SFC_UV_INDEX_x', 'QV2M_y', 'RH2M_y', 'PRECTOTCORR_y', 'ALLSKY_SFC_SW_DWN_y', 'CLRSKY_SFC_SW_DWN_y', 'ALLSKY_KT', 'ALLSKY_SFC_LW_DWN_y', 'ALLSKY_SFC_PAR_TOT_y', 'CLRSKY_SFC_PAR_TOT_y', 'ALLSKY_SFC_UV_INDEX_y', 'ALLSKY_SFC_UVB_y', 'ALLSKY_SFC_UVA_y', 'T2M_y', 'T2MDEW_y', 'T2MWET_y', 'TS_y', 'T2M_RANGE_y', 'T2M_MAX_y', 'T2M_MIN_y', 'PS_y', 'WS10M_y', 'WS10M_MAX_y', 'WS10M_MIN_y', 'WS10M_RANGE_y', 'WD10M_y', 'WS50M', 'WS50M_MAX', 'WS50M_MIN', 'WS50M_RANGE', 'WD50M', 'DATES', 'NORMAL (MM)', 'ACTUAL (MM)']

Dataframe shape: (121, 69)

In [177]:
final_df['Month'] = final_df['DATES'].str.split('-').str[0]

month_order_mapping = {
    'Jan': 1, 'Feb': 2, 'Mar': 3, 'Apr': 4, 'May': 5, 'Jun': 6,
    'Jul': 7, 'Aug': 8, 'Sep': 9, 'Oct': 10, 'Nov': 11, 'Dec': 12
}
final_df['Month_Encoded'] = final_df['Month'].map(month_order_mapping)

print("Extracted months:")
print(final_df[['DATES', 'Month', 'Month_Encoded']].head(10))

print("\nUnique months extracted:")
print(final_df['Month'].unique())

Extracted months:
    DATES Month  Month_Encoded
0  Jan-17   Jan              1
1  Feb-17   Feb              2
2  Mar-17   Mar              3
3  Apr-17   Apr              4
4  May-17   May              5
5  Jun-17   Jun              6
6  Jul-17   Jul              7
7  Aug-17   Aug              8
8  Sep-17   Sep              9
9  Oct-17   Oct             10

Unique months extracted:
['Jan' 'Feb' 'Mar' 'Apr' 'May' 'Jun' 'Jul' 'Aug' 'Sep' 'Oct' 'Nov' 'Dec']

In [178]:
final_df.tail()

,YEAR,DOY_x,QV2M_x,RH2M_x,PRECTOTCORR_x,PS_x,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE,...,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,WD50M,DATES,NORMAL (MM),ACTUAL (MM),Month,Month_Encoded
116,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Jul-23,766.3,754.95,Jul,7
117,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Aug-23,555.5,834.27,Aug,8
118,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Sep-23,424.2,355.57,Sep,9
119,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Oct-23,125.3,194.85,Oct,10
120,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Nov-23,9.9,0.76,Nov,11

In [179]:
final_df.head()
final_df.tail()

,YEAR,DOY_x,QV2M_x,RH2M_x,PRECTOTCORR_x,PS_x,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE,...,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,WD50M,DATES,NORMAL (MM),ACTUAL (MM),Month,Month_Encoded
116,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Jul-23,766.3,754.95,Jul,7
117,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Aug-23,555.5,834.27,Aug,8
118,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Sep-23,424.2,355.57,Sep,9
119,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Oct-23,125.3,194.85,Oct,10
120,2023,177.5,-7.812062,52.052175,-10.777429,66.556045,-18.886723,-18.188249,-19.511328,-18.430876,...,-17.302429,-15.791073,-18.939887,-16.605141,132.164633,Nov-23,9.9,0.76,Nov,11

In [180]:
final_df.drop(['DATES', 'Month'], axis=1, inplace=True)

In [181]:
final_df.head()

,YEAR,DOY_x,QV2M_x,RH2M_x,PRECTOTCORR_x,PS_x,WS2M,WS2M_MAX,WS2M_MIN,WS2M_RANGE,...,WS10M_RANGE_y,WD10M_y,WS50M,WS50M_MAX,WS50M_MIN,WS50M_RANGE,WD50M,NORMAL (MM),ACTUAL (MM),Month_Encoded
0,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,16.9,4.35,1
1,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,14.0,9.13,2
2,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,39.7,86.24,3
3,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,82.4,154.68,4
4,2017,183.0,12.126438,72.79937,5.857589,87.998466,0.894658,1.628274,0.251315,1.376521,...,3.109726,156.06674,2.547068,4.161836,0.847616,3.31389,158.435534,188.2,297.26,5

In [182]:
final_df.info()
final_df.describe() 
final_df.dtypes

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121 entries, 0 to 120
Data columns (total 69 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   YEAR                   121 non-null    int64
 1   DOY_x                  121 non-null    float64
 2   QV2M_x                 121 non-null    float64
 3   RH2M_x                 121 non-null    float64
 4   PRECTOTCORR_x          121 non-null    float64
 5   PS_x                   121 non-null    float64
 6   WS2M                   121 non-null    float64
 7   WS2M_MAX               121 non-null    float64
 8   WS2M_MIN               121 non-null    float64
 9   WS2M_RANGE             121 non-null    float64
 10  WD2M                   121 non-null    float64
 11  WS10M_x                121 non-null    float64
 12  WS10M_MAX_x            121 non-null    float64
 13  WS10M_MIN_x            121 non-null    float64
 14  WS10M_RANGE_x          121 non-null    float64
 15  WD10M_x                121 non-null    float64
 16  GWETPROF               121 non-null    float64
 17  GWETROOT               121 non-null    float64
 18  GWETTOP                121 non-null    float64
 19  DOY_y                  121 non-null    float64
 20  T2M_x                  121 non-null    float64
 21  T2MDEW_x               121 non-null    float64
 22  TS_x                   121 non-null    float64
 23  T2MWET_x               121 non-null    float64
 24  T2M_RANGE_x            121 non-null    float64
 25  T2M_MAX_x              121 non-null    float64
 26  T2M_MIN_x              121 non-null    float64
 27  ALLSKY_SFC_LW_DWN_x    121 non-null    float64
 28  ALLSKY_SFC_SW_DWN_x    121 non-null    float64
 29  CLRSKY_SFC_SW_DWN_x    121 non-null    float64
 30  TOA_SW_DWN             121 non-null    float64
 31  ALLSKY_SFC_PAR_TOT_x   121 non-null    float64
 32  CLRSKY_SFC_PAR_TOT_x   121 non-null    float64
 33  ALLSKY_SFC_UVA_x       121 non-null    float64
 34  ALLSKY_SFC_UVB_x       121 non-null    float64
 35  ALLSKY_SFC_UV_INDEX_x  121 non-null    float64
 36  QV2M_y                 121 non-null    float64
 37  RH2M_y                 121 non-null    float64
 38  PRECTOTCORR_y          121 non-null    float64
 39  ALLSKY_SFC_SW_DWN_y    121 non-null    float64
 40  CLRSKY_SFC_SW_DWN_y    121 non-null    float64
 41  ALLSKY_KT              121 non-null    float64
 42  ALLSKY_SFC_LW_DWN_y    121 non-null    float64
 43  ALLSKY_SFC_PAR_TOT_y   121 non-null    float64
 44  CLRSKY_SFC_PAR_TOT_y   121 non-null    float64
 45  ALLSKY_SFC_UV_INDEX_y  121 non-null    float64
 46  ALLSKY_SFC_UVB_y       121 non-null    float64
 47  ALLSKY_SFC_UVA_y       121 non-null    float64
 48  T2M_y                  121 non-null    float64
 49  T2MDEW_y               121 non-null    float64
 50  T2MWET_y               121 non-null    float64
 51  TS_y                   121 non-null    float64
 52  T2M_RANGE_y            121 non-null    float64
 53  T2M_MAX_y              121 non-null    float64
 54  T2M_MIN_y              121 non-null    float64
 55  PS_y                   121 non-null    float64
 56  WS10M_y                121 non-null    float64
 57  WS10M_MAX_y            121 non-null    float64
 58  WS10M_MIN_y            121 non-null    float64
 59  WS10M_RANGE_y          121 non-null    float64
 60  WD10M_y                121 non-null    float64
 61  WS50M                  121 non-null    float64
 62  WS50M_MAX              121 non-null    float64
 63  WS50M_MIN              121 non-null    float64
 64  WS50M_RANGE            121 non-null    float64
 65  WD50M                  121 non-null    float64
 66  NORMAL (MM)            121 non-null    float64
 67  ACTUAL (MM)            121 non-null    float64
 68  Month_Encoded          121 non-null    int64
dtypes: float64(67), int64(2)
memory usage: 65.4 KB

YEAR               int64
DOY_x            float64
QV2M_x           float64
RH2M_x           float64
PRECTOTCORR_x    float64
                  ...
WS50M_RANGE      float64
WD50M            float64
NORMAL (MM)      float64
ACTUAL (MM)      float64
Month_Encoded      int64
Length: 69, dtype: object

In [183]:
target_columns = ['QV2M_x', 'ACTUAL (MM)']

In [184]:
X = final_df.drop(columns=target_columns)
y = final_df[target_columns]

In [185]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [186]:
print("X_train shape:", X_train.shape)
print("X_test shape:", X_test.shape)
print("y_train shape:", y_train.shape)
print("y_test shape:", y_test.shape)

X_train shape: (96, 67)
X_test shape: (25, 67)
y_train shape: (96, 2)
y_test shape: (25, 2)

In [187]:
from sklearn.multioutput import MultiOutputRegressor
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor, ExtraTreesRegressor, AdaBoostRegressor
from sklearn.linear_model import LinearRegression, Ridge, Lasso, ElasticNet
from sklearn.svm import SVR
from sklearn.neural_network import MLPRegressor
from sklearn.tree import DecisionTreeRegressor
from sklearn.neighbors import KNeighborsRegressor
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error
from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import Pipeline

In [188]:
algorithms = {}

In [189]:
# 1. Random Forest (Usually excellent for tabular data)
print("\n1. Setting up Random Forest...")
rf_reg = MultiOutputRegressor(RandomForestRegressor(
    n_estimators=500,
    max_depth=15,
    min_samples_split=5,
    min_samples_leaf=2,
    random_state=42,
    n_jobs=-1
))
algorithms['Random Forest'] = rf_reg

1. Setting up Random Forest...

In [190]:
# 2. Extra Trees (Often better than Random Forest)
print("2. Setting up Extra Trees...")
et_reg = MultiOutputRegressor(ExtraTreesRegressor(
    n_estimators=500,
    max_depth=15,
    min_samples_split=5,
    min_samples_leaf=2,
    random_state=42,
    n_jobs=-1
))
algorithms['Extra Trees'] = et_reg

2. Setting up Extra Trees...

In [191]:
# 3. Gradient Boosting (Sequential boosting)
print("3. Setting up Gradient Boosting...")
gb_reg = MultiOutputRegressor(GradientBoostingRegressor(
    n_estimators=300,
    max_depth=8,
    learning_rate=0.1,
    subsample=0.8,
    random_state=42
))
algorithms['Gradient Boosting'] = gb_reg

3. Setting up Gradient Boosting...

In [192]:
# 5. Neural Network (MLP) with Pipeline
print("5. Setting up Neural Network...")
mlp_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('regressor', MultiOutputRegressor(MLPRegressor(
        hidden_layer_sizes=(200, 100, 50),
        max_iter=1000,
        random_state=42,
        early_stopping=True,
        validation_fraction=0.1,
        alpha=0.001
    )))
])
algorithms['Neural Network'] = mlp_pipeline

5. Setting up Neural Network...

In [193]:
# 6. Support Vector Regression with Pipeline
print("6. Setting up SVR...")
svr_pipeline = Pipeline([
    ('scaler', StandardScaler()),  
    ('regressor', MultiOutputRegressor(SVR(
        kernel='rbf',
        C=100,
        gamma='scale',
        epsilon=0.1
    )))
])
algorithms['SVR'] = svr_pipeline

6. Setting up SVR...

In [194]:
# 7. Ridge Regression (Regularized Linear)
print("7. Setting up Ridge Regression...")
ridge_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('regressor', MultiOutputRegressor(Ridge(alpha=1.0)))
])
algorithms['Ridge Regression'] = ridge_pipeline

7. Setting up Ridge Regression...

In [195]:
# 8. ElasticNet (L1 + L2 regularization)
print("8. Setting up ElasticNet...")
elastic_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('regressor', MultiOutputRegressor(ElasticNet(alpha=0.1, l1_ratio=0.5)))
])
algorithms['ElasticNet'] = elastic_pipeline

8. Setting up ElasticNet...

In [196]:
results = {}
for name, algorithm in algorithms.items():
    print(f"\nTraining {name}...")
    
    try:
        # Train the algorithm
        algorithm.fit(X_train, y_train)
        
        # Make predictions
        y_pred = algorithm.predict(X_test)
        
        # Calculate metrics for each target variable
        r2_scores = []
        mse_scores = []
        mae_scores = []
        
        for i, target in enumerate(target_columns):
            r2 = r2_score(y_test.iloc[:, i], y_pred[:, i])
            mse = mean_squared_error(y_test.iloc[:, i], y_pred[:, i])
            mae = mean_absolute_error(y_test.iloc[:, i], y_pred[:, i])
            
            r2_scores.append(r2)
            mse_scores.append(mse)
            mae_scores.append(mae)
        
        # Calculate overall R² score
        overall_r2 = r2_score(y_test, y_pred)
        accuracy_percentage = overall_r2 * 100
        
        results[name] = {
            'Overall_R2': overall_r2,
            'Accuracy_%': accuracy_percentage,
            'Individual_R2': dict(zip(target_columns, r2_scores)),
            'MSE': dict(zip(target_columns, mse_scores)),
            'MAE': dict(zip(target_columns, mae_scores)),
            'Status': 'Success'
        }
        
    except Exception as e:
        print(f"Error training {name}: {str(e)}")
        results[name] = {'Status': f'Failed: {str(e)}'}

Training Random Forest...

Training Extra Trees...

Training Gradient Boosting...

Training Neural Network...

Training SVR...

Training Ridge Regression...

Training ElasticNet...

d:\CSID\Project1\.venv\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.020e+00, tolerance: 3.227e-01
  model = cd_fast.enet_coordinate_descent(
d:\CSID\Project1\.venv\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.318e+05, tolerance: 7.881e+02
  model = cd_fast.enet_coordinate_descent(

In [197]:
print("\n" + "="*80)
print("ALGORITHM PERFORMANCE COMPARISON")
print("="*80)

successful_results = {k: v for k, v in results.items() if v.get('Status') == 'Success'}
sorted_results = sorted(successful_results.items(), key=lambda x: x[1]['Accuracy_%'], reverse=True)

for name, metrics in sorted_results:
    print(f"\n{name}:")
    print(f"  Overall Accuracy: {metrics['Accuracy_%']:.2f}%")
    print(f"  Overall R²: {metrics['Overall_R2']:.4f}")
    
    for target in target_columns:
        print(f"  {target} - R²: {metrics['Individual_R2'][target]:.4f}, "
              f"MSE: {metrics['MSE'][target]:.4f}, MAE: {metrics['MAE'][target]:.4f}")

failed_results = {k: v for k, v in results.items() if v.get('Status') != 'Success'}
if failed_results:
    print(f"\n  Failed algorithms: {list(failed_results.keys())}")

print("\n" + "="*80)
print("RECOMMENDATIONS:")
print("="*80)

if sorted_results:
    best_algorithm = sorted_results[0]
    print(f" BEST ALGORITHM: {best_algorithm[0]} with {best_algorithm[1]['Accuracy_%']:.2f}% accuracy")
    
    algorithms_above_90 = [name for name, metrics in successful_results.items() if metrics['Accuracy_%'] >= 90]
    if algorithms_above_90:
        print(f" Algorithms with >90% accuracy: {', '.join(algorithms_above_90)}")
    else:
        print("  No algorithm achieved >90% accuracy with default parameters.")
        print(" Try hyperparameter tuning on the best performing algorithm:")
        print(f"   Best: {best_algorithm[0]} with {best_algorithm[1]['Accuracy_%']:.2f}%")

    print(f"\n Total features used: {X_train.shape[1]}")
    print(f" Sample size: {len(final_df)}")
    
    best_model_name = best_algorithm[0]
    best_model = algorithms[best_model_name]
    print(f"\n Best model stored as: {best_model_name}")

else:
    print(" All algorithms failed. Check your data preprocessing.")

================================================================================
ALGORITHM PERFORMANCE COMPARISON
================================================================================

ElasticNet:
  Overall Accuracy: 86.38%
  Overall R²: 0.8638
  QV2M_x - R²: 0.9996, MSE: 0.0103, MAE: 0.0848
  ACTUAL (MM) - R²: 0.7279, MSE: 13012.8701, MAE: 84.1747

Ridge Regression:
  Overall Accuracy: 85.77%
  Overall R²: 0.8577
  QV2M_x - R²: 1.0000, MSE: 0.0010, MAE: 0.0265
  ACTUAL (MM) - R²: 0.7154, MSE: 13612.2364, MAE: 85.2621

Extra Trees:
  Overall Accuracy: 79.25%
  Overall R²: 0.7925
  QV2M_x - R²: 1.0000, MSE: 0.0000, MAE: 0.0000
  ACTUAL (MM) - R²: 0.5851, MSE: 19845.1196, MAE: 84.8626

Random Forest:
  Overall Accuracy: 79.09%
  Overall R²: 0.7909
  QV2M_x - R²: 1.0000, MSE: 0.0000, MAE: 0.0002
  ACTUAL (MM) - R²: 0.5819, MSE: 19999.1391, MAE: 86.4810

SVR:
  Overall Accuracy: 77.13%
  Overall R²: 0.7713
  QV2M_x - R²: 0.9995, MSE: 0.0144, MAE: 0.0975
  ACTUAL (MM) - R²: 0.5430, MSE: 21857.8933, MAE: 106.1147

Gradient Boosting:
  Overall Accuracy: 66.08%
  Overall R²: 0.6608
  QV2M_x - R²: 1.0000, MSE: 0.0000, MAE: 0.0000
  ACTUAL (MM) - R²: 0.3217, MSE: 32443.2914, MAE: 105.0238

Neural Network:
  Overall Accuracy: 28.86%
  Overall R²: 0.2886
  QV2M_x - R²: 0.9191, MSE: 2.3639, MAE: 1.1931
  ACTUAL (MM) - R²: -0.3419, MSE: 64183.6407, MAE: 152.3356

================================================================================
RECOMMENDATIONS:
================================================================================
 BEST ALGORITHM: ElasticNet with 86.38% accuracy
  No algorithm achieved >90% accuracy with default parameters.
 Try hyperparameter tuning on the best performing algorithm:
   Best: ElasticNet with 86.38%

 Total features used: 67
 Sample size: 121

 Best model stored as: ElasticNet

In [198]:
from sklearn.feature_selection import SelectKBest, f_regression, RFE
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split, GridSearchCV, cross_val_score



print("Hyperparameter Tuning for ElasticNet")
print("="*60)

# Define target variables
target_columns = ['QV2M_x', 'ACTUAL (MM)']
X = final_df.drop(target_columns, axis=1)
y = final_df[target_columns]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

elastic_pipeline = Pipeline([
    ('scaler', StandardScaler()),
    ('regressor', MultiOutputRegressor(ElasticNet(max_iter=2000)))
])

param_grid = {
    'regressor__estimator__alpha': [0.001, 0.01, 0.1, 0.5, 1.0, 2.0],
    'regressor__estimator__l1_ratio': [0.1, 0.3, 0.5, 0.7, 0.9],
    'regressor__estimator__max_iter': [1000, 2000, 3000]
}

print("Performing hyperparameter tuning...")
grid_search = GridSearchCV(
    elastic_pipeline, 
    param_grid, 
    cv=5, 
    scoring='r2',
    n_jobs=-1,
    verbose=1
)

grid_search.fit(X_train, y_train)

print(f"Best parameters: {grid_search.best_params_}")
print(f"Best CV score: {grid_search.best_score_:.4f}")

best_elastic = grid_search.best_estimator_
y_pred_elastic = best_elastic.predict(X_test)
elastic_r2 = r2_score(y_test, y_pred_elastic)
print(f"Tuned ElasticNet Accuracy: {elastic_r2 * 100:.2f}%")

Hyperparameter Tuning for ElasticNet
============================================================
Performing hyperparameter tuning...
Fitting 5 folds for each of 90 candidates, totalling 450 fits
Best parameters: {'regressor__estimator__alpha': 0.1, 'regressor__estimator__l1_ratio': 0.1, 'regressor__estimator__max_iter': 2000}
Best CV score: 0.7916
Tuned ElasticNet Accuracy: 86.25%

d:\CSID\Project1\.venv\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.598e+00, tolerance: 3.227e-01
  model = cd_fast.enet_coordinate_descent(
d:\CSID\Project1\.venv\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.170e+06, tolerance: 7.881e+02
  model = cd_fast.enet_coordinate_descent(